result/
.vscode/
.direnv
dots/config/firefox/chrome/colors.css
dots/config/gtk-3.0/gtk.css
dots/config/gtk-4.0/gtk.css
dots/config/Vencord/themes/midnight-discord.css
dots/config/niri/colors.kdl
dots/config/zen/chrome/zen-themes.css
dots/config/zen/chrome/browser-theme.css
dots/config/zen/chrome/colors.css
dots/config/helix/themes/*
dots/config/helix/runtime/*
dots/config/ghostty/themes/Matugen
dots/config/hypr/lua/colors.lua
