@import "colors.css";

* {
  /* all: initial; */
  font-family: monospace;
  font-family: Material Design Icons;
  min-height: 0;
  min-width: 20px;
  border-radius: 0px;
  font-size: 18px;
  /* margin: 2px; */
}

/* Clock will always be last on the right */
#clock,
#tray {
  margin-right: 10px;
}

window#waybar {
  background-color: @surface;
  /* border-radius: 10px; */
}

#workspaces,
#taskbar {
  color: @on_surface;
}

#workspaces button,
#taskbar button {
  color: @on_surface;

}

#workspace button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 0px 0px 5px;
}

#taskbar button {
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding: 0px;
}

#workspaces button.active,
#taskbar button.active {
  color: @on_primary;
  background: @primary_fixed_dim;
}

#workspaces button:hover,
#taskbar button:hover {
  background: @surface_container_highest;
  color: @on_surface;
}

/* Other */

#custom-sep {
  color: @outline;
}

#clock {
  color: @on_surface;
}

#battery,
#custom-wl-gammarelay-brightness,
#custom-wl-gammarelay-temperature,
#pulseaudio,
#memory,
#cpu {
  color: @on_surface;
  border-radius: 0px 0px 10px 10px;
}