@import "colors.css";

* {
  /* all: initial; */
  font-family: monospace;
  min-height: 0;
  min-width: 20px;
  margin: 2px;
}

window#waybar {
  background-color: @surface;
  border-radius: 10px;
}

#custom-power,
#workspaces,
#clock
#custom-menu
{
  margin: 5px;
}

#custom-menu {
  color: @on_surface;
  font-size: 30px;
}

#custom-power {
  background: @tertiary_container;
  color: @on_tertiary_container;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}

#workspaces {
  background: @surface_variant;
  color: @on_surface_variant;
  padding: 5px 0px;
  border-radius: 10px;
}

#workspaces button {
  color: @on_surface;
  border-radius: 30px;
  padding: 4px;
  margin: 4px;
  font-size: 20px;
}

#workspaces button.active {
  color: @on_primary;
  background: @primary;
}

#workspaces button:hover {
  background: @surface_variant;
  color: @on_surface;
}

#clock {
  color: @on_surface;
  background: @surface_variant;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

#battery.icon,
#custom-wl-gammarelay-brightness.icon,
#custom-wl-gammarelay-temperature.icon,
#pulseaudio.icon
{
  background: @primary;
  color: @on_primary;
  font-size: 20px;
  border-radius: 10px 10px 0px 0px;
  padding: 3px;
  margin: 5px;
  margin-bottom: 0px;
}

#battery.text,
#custom-wl-gammarelay-brightness.text,
#custom-wl-gammarelay-temperature.text,
#pulseaudio.text
{
  background: @surface_variant;
  color: @on_surface;

  border-radius: 0px 0px 10px 10px;
  padding: 3px;
  margin: 5px;
  margin-top: 0px;
}