@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0px;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: @text;
  margin: 3px;
  border-radius: 30px;
}

#workspaces button.active {
  background: @accent;
  color: @bg0;
}

#workspaces button:hover {
  background: @bg1;
}

tooltip {
  background: @tip;
  border-radius: 10px;
  border: 3px solid @accent;
}

#custom-language, #custom-updates, #custom-caffeine, #custom-power, #clock, #battery, #pulseaudio, #network, #workspaces, #tray, #backlight, #custom-menu, #custom-wl-gammarelay-brightness, #custom-wl-gammarelay-temperature {
  background: @bg0;
  padding: 0px 10px;
  margin: 3px 0px;
  border: 3px solid @accent;
  border-radius: 10px;
}

#tray {
	margin-left: 5px;
	padding-left: 10px;
	margin-bottom: 3px;
	padding-right: 10px;
	transition: none;
}

#workspaces {
  padding-right: 10px;
  padding-left: 5px;
  margin-left: 5px;
}

#clock {
  color: @text;
  border-radius: 10px;
}

#network {
  color: @text;
  margin-left: 5px;
}

#pulseaudio {
  color: @text;
  margin-right: 3px;
}

#battery {
  color:  @text;
  margin-left: 5px;
  margin-right: 5px;
}

#backlight {
  color: @text;
}

#custom-power {
  color: @text;
  margin-left: 5px;
}

#custom-wl-gammarelay-brightness {
  color: @text;
  margin-left: 5px;
  margin-right: 5px;
}

#custom-wl-gammarelay-temperature {
  color: @text;
  margin-right: 3px;
}

#custom-menu {
  color: @text;
  margin-right: 5px;
}
