:root {

    --background: #12140d;

    --error: #ffb4ab;

    --error_container: #93000a;

    --inverse_on_surface: #2f3129;

    --inverse_primary: #516527;

    --inverse_surface: #e3e3d8;

    --on_background: #e3e3d8;

    --on_error: #690005;

    --on_error_container: #ffdad6;

    --on_primary: #253600;

    --on_primary_container: #d3ec9e;

    --on_primary_fixed: #141f00;

    --on_primary_fixed_variant: #3a4d11;

    --on_secondary: #2c331d;

    --on_secondary_container: #dee6c5;

    --on_secondary_fixed: #171e0a;

    --on_secondary_fixed_variant: #424a32;

    --on_surface: #e3e3d8;

    --on_surface_variant: #c6c8b9;

    --on_tertiary: #013732;

    --on_tertiary_container: #bcece4;

    --on_tertiary_fixed: #00201d;

    --on_tertiary_fixed_variant: #204e49;

    --outline: #8f9284;

    --outline_variant: #45483c;

    --primary: #b7d085;

    --primary_container: #3a4d11;

    --primary_fixed: #d3ec9e;

    --primary_fixed_dim: #b7d085;

    --scrim: #000000;

    --secondary: #c2caab;

    --secondary_container: #424a32;

    --secondary_fixed: #dee6c5;

    --secondary_fixed_dim: #c2caab;

    --shadow: #000000;

    --source_color: #809457;

    --surface: #12140d;

    --surface_bright: #383a32;

    --surface_container: #1e2019;

    --surface_container_high: #292b23;

    --surface_container_highest: #34362e;

    --surface_container_low: #1a1c15;

    --surface_container_lowest: #0d0f09;

    --surface_dim: #12140d;

    --surface_tint: #b7d085;

    --surface_variant: #45483c;

    --tertiary: #a0d0c8;

    --tertiary_container: #204e49;

    --tertiary_fixed: #bcece4;

    --tertiary_fixed_dim: #a0d0c8;



    --background_rgb: 18 20 13;

    --error_rgb: 255 180 171;

    --error_container_rgb: 147 0 10;

    --inverse_on_surface_rgb: 47 49 41;

    --inverse_primary_rgb: 81 101 39;

    --inverse_surface_rgb: 227 227 216;

    --on_background_rgb: 227 227 216;

    --on_error_rgb: 105 0 5;

    --on_error_container_rgb: 255 218 214;

    --on_primary_rgb: 37 54 0;

    --on_primary_container_rgb: 211 236 158;

    --on_primary_fixed_rgb: 20 31 0;

    --on_primary_fixed_variant_rgb: 58 77 17;

    --on_secondary_rgb: 44 51 29;

    --on_secondary_container_rgb: 222 230 197;

    --on_secondary_fixed_rgb: 23 30 10;

    --on_secondary_fixed_variant_rgb: 66 74 50;

    --on_surface_rgb: 227 227 216;

    --on_surface_variant_rgb: 198 200 185;

    --on_tertiary_rgb: 1 55 50;

    --on_tertiary_container_rgb: 188 236 228;

    --on_tertiary_fixed_rgb: 0 32 29;

    --on_tertiary_fixed_variant_rgb: 32 78 73;

    --outline_rgb: 143 146 132;

    --outline_variant_rgb: 69 72 60;

    --primary_rgb: 183 208 133;

    --primary_container_rgb: 58 77 17;

    --primary_fixed_rgb: 211 236 158;

    --primary_fixed_dim_rgb: 183 208 133;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 194 202 171;

    --secondary_container_rgb: 66 74 50;

    --secondary_fixed_rgb: 222 230 197;

    --secondary_fixed_dim_rgb: 194 202 171;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 128 148 87;

    --surface_rgb: 18 20 13;

    --surface_bright_rgb: 56 58 50;

    --surface_container_rgb: 30 32 25;

    --surface_container_high_rgb: 41 43 35;

    --surface_container_highest_rgb: 52 54 46;

    --surface_container_low_rgb: 26 28 21;

    --surface_container_lowest_rgb: 13 15 9;

    --surface_dim_rgb: 18 20 13;

    --surface_tint_rgb: 183 208 133;

    --surface_variant_rgb: 69 72 60;

    --tertiary_rgb: 160 208 200;

    --tertiary_container_rgb: 32 78 73;

    --tertiary_fixed_rgb: 188 236 228;

    --tertiary_fixed_dim_rgb: 160 208 200;

}