/*colors.css*/

    $background: #12140d;

    $error: #ffb4ab;

    $error_container: #93000a;

    $inverse_on_surface: #2f3129;

    $inverse_primary: #516527;

    $inverse_surface: #e3e3d8;

    $on_background: #e3e3d8;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_primary: #253600;

    $on_primary_container: #d3ec9e;

    $on_primary_fixed: #141f00;

    $on_primary_fixed_variant: #3a4d11;

    $on_secondary: #2c331d;

    $on_secondary_container: #dee6c5;

    $on_secondary_fixed: #171e0a;

    $on_secondary_fixed_variant: #424a32;

    $on_surface: #e3e3d8;

    $on_surface_variant: #c6c8b9;

    $on_tertiary: #013732;

    $on_tertiary_container: #bcece4;

    $on_tertiary_fixed: #00201d;

    $on_tertiary_fixed_variant: #204e49;

    $outline: #8f9284;

    $outline_variant: #45483c;

    $primary: #b7d085;

    $primary_container: #3a4d11;

    $primary_fixed: #d3ec9e;

    $primary_fixed_dim: #b7d085;

    $scrim: #000000;

    $secondary: #c2caab;

    $secondary_container: #424a32;

    $secondary_fixed: #dee6c5;

    $secondary_fixed_dim: #c2caab;

    $shadow: #000000;

    $source_color: #809457;

    $surface: #12140d;

    $surface_bright: #383a32;

    $surface_container: #1e2019;

    $surface_container_high: #292b23;

    $surface_container_highest: #34362e;

    $surface_container_low: #1a1c15;

    $surface_container_lowest: #0d0f09;

    $surface_dim: #12140d;

    $surface_tint: #b7d085;

    $surface_variant: #45483c;

    $tertiary: #a0d0c8;

    $tertiary_container: #204e49;

    $tertiary_fixed: #bcece4;

    $tertiary_fixed_dim: #a0d0c8;
